# Section 2: Vectors, Sorting

This notebook introduces the concept of vectors and functions such as sorting.

---
## Vectors

Vectors are the most basic unit to store data in R. Complex datasets can usually be broken dow into components that are vectors.

For example, in a data frame such as the murders data frame, each column is a vector:

In [1]:
library(dslabs)
data(murders)
head(murders)

  state      abb region population total
1 Alabama    AL  South   4779736    135
2 Alaska     AK  West     710231     19
3 Arizona    AZ  West    6392017    232
4 Arkansas   AR  South   2915918     93
5 California CA  West   37253956   1257
6 Colorado   CO  West    5029196     65

In this sub-section, we discuss more about this important class.

### Creation
The first thing to demonstrate is how to create vectors. We can do that by using the function _c_, which stands for _concatenate_. In the example below, we define an object named `codes` with three objects (380, 124, and 818):

In [2]:
codes <- c(380, 124, 818)

We can also create character vectors, such as the `country` object we define below:

In [3]:
country <- c('italy', 'canada', 'egypt')

Sometimes, it's useful to name the entries of a vector. For example, when defining a vector of country codes, we can use the names to connect the two or, in other words, assign a name to each code. Below, we redefine the codes object and associate a country to each code:

In [4]:
codes <- c(italy=380, canada=124, egypt=818)

The object codes continues to be numeric, though:

In [6]:
codes
class(codes)

 italy canada  egypt
   380    124    818

[1] "numeric"

Observe that if we use quotes, the object will still be identical to the one we defined without using quotes

In [7]:
codes <- c('italy'=380, 'canada'=124, 'egypt'=818)
codes
class(codes)

 italy canada  egypt
   380    124    818

[1] "numeric"

We can also use the _names_ function to assign names to the entries of a vector. The code cell below does exactly tha same thing as the previous ones, but using the _names_ function:

In [8]:
codes <- c(380, 124, 818)
country <- c('italy', 'canada', 'egypt')
names(codes) <- country
codes
class(codes)

 italy canada  egypt
   380    124    818

[1] "numeric"

Another useful function for creating vectors is the function _seq_, which stands for _sequence_. Its first argument defines the start and the second argument defines the end of the sequence. The third argument of this function is the increment, and has a default value of 1. The next code cell shows a few examples of how to create vectors with this function:

In [9]:
seq(1, 10)
seq(1, 10, 2)
seq(10, 1, -1)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1 3 5 7 9

 [1] 10  9  8  7  6  5  4  3  2  1

note that if want ocnsecutive integers, we can just type the code in the format _start:end_, as shown below:

In [10]:
1:10
15:20

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 15 16 17 18 19 20

### Subsetting

Subsetting lets is access specific parts of a vector. To access elements of a vector, we use square brackets. In the code cell below, we access the second element of `codes`:

In [11]:
codes[2]

canada
   124

We can get more than one entry by using a multi-entry vector as an index. For example, to access the first and the third elements of `codes`, we can type:

In [12]:
codes[c(1, 3)]

italy egypt
  380   818

We can also use sequences to access elements, as shown in the next code cell:

In [13]:
codes[1:2]

 italy canada
   380    124

If the elements have names, we ca a√ßsp access the entries using these names. Below, we access the entry that has the name "canada":

In [14]:
codes['canada']

canada
   124

We can also have a vector of names as the index to access elements of a vector. Observe:

In [15]:
codes[c('italy', 'egypt')]

italy egypt
  380   818

### Coercion